<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Docker Network Visualizer | Overview</title>
</head>
<body>
<pre style="font-family: monospace;">
    +-------------------------+<br>
    | jump to <a href="/list">table view</a>      |<br>
    | jump to <a href="/source">plantuml source</a> |<br>
    +-------------------------+<br>
</pre><br>
{{.SvgImage}}
</body>
</html>