<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Docker Network Visualizer | List</title>
</head>
<body>
<pre style="font-family: monospace;">
    +-------------------------+<br>
    | jump to <a href="/">image view</a>      |<br>
    | jump to <a href="/source">plantuml source</a> |<br>
    +-------------------------+<br>
</pre>
<br>
<table border="1">
    <tr>
        <th>container name</th>
        <th>links</th>
        <th>labels</th>
    </tr>
    {{range .Data}}
        <tr>
            <td>{{.Name}}</td>
            <td>
                {{range .Links}}
                    <a href="{{.}}" target="_blank">{{.}}</a><br>
                {{end}}
            </td>
            <td>
                {{range .Labels}}
                    <b>{{.GetKey}}: </b>{{.GetValue}}<br>
                {{end}}
            </td>
        </tr>
    {{end}}
</table>
</body>
</html>